[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.sdf
*.aps
*.opensdf
*.log 
*.DS_Store
*~
*.swp
*.swo
[Tt]humbs.db 
_ReSharper.*
*.resharper
version.txt
ipch
StrongNameHelper/Debug
StrongNameHelper/Release
